.st-navigation {
  display: flex;
  flex-wrap: wrap;
}

.st-navigation > * {
  flex: 1 0 calc(28% - 10px);
  margin: 0.5%;
}

.st-navigation > *:nth-child(9n + 3),
.st-navigation > *:nth-child(9n + 4),
.st-navigation > *:nth-child(9n + 8) {
  flex: 1 0 calc(40% - 10px);
}

.st-navigation > *:last-child {
  max-width: 40%;
}

.st-navigation::after {
  content: "";
  flex: 1 0 calc(28% - 10px);
  max-width: calc(30% - 10px);
}

@media (max-width: 767px) {
  .st-navigation > * {
    flex: 1;
    flex-shrink: 0;
  }

  .st-navigation > *:nth-child(5n) {
    flex: 1 0 100%;
    min-width: 100%;
  }
}

@media (max-width: 320px) {
  .st-navigation > * {
    flex: 1;
    min-width: 100%;
    flex-shrink: 0;
  }
}
