.st-form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.st-form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--black-60);
  outline: 0;
  font-size: 12px;
  color: var(--black);
  background: transparent;
  transition: border-color 0.2s;
  resize: vertical;
  max-height: 216px;
  overflow: scroll;
  scrollbar-width: none;
}

.st-form__field::placeholder {
  color: transparent;
}

.st-form__field:placeholder-shown ~ .st-form__label {
  font-size: 12px;
  cursor: text;
  top: 20px;
}

.st-form__label {
  position: absolute;
  left: 0;
  top: -10px;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: var(--black-60);
  text-transform: none;
}

.st-form__field:focus ~ .st-form__label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: var(--black);
  font-weight: 700;
}

.st-form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--black), var(--black-60));
  border-image-slice: 1;
}

.st-form__field:required,
.st-form__field:invalid {
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .st-form__field,
  .st-form__label {
    font-size: 16px;
  }
}
