.st-recipeCardWrapper {
  display: flex;
  justify-content: space-between;
}

.st-flexPhotoWrapper {
  display: flex;
  gap: 10px;
}

.st-recipeTextWrapper {
  width: 166px;
}

.st-recipeInstructions {
  font-size: 14px;
  line-height: 20px;
  color: var(--black-80);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.st-recipeTitle {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

.st-buttonWrapper {
  display: flex;
  gap: 4px;
}

.st-recipeCardList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.st-iconBtn {
  background-color: white;
  transition: background-color var(--transition);
}

.st-icon {
  stroke: var(--black);
  transition: stroke var(--transition);
}

.st-iconBtn:hover .st-icon {
  stroke: var(--white);
}

@media screen and (max-width: 767px) {
  .st-recipeTitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 768px) {
  .st-flexPhotoWrapper {
    gap: 16px;
  }

  .st-recipeTextWrapper {
    width: 468px;
    height: 100px;
  }

  .st-recipeTitle {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .st-recipeInstructions {
    font-size: 14px;
    line-height: 24x;
  }

  .st-recipeCardList {
    gap: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .st-recipeTextWrapper {
    width: 610px;
  }
}
